@font-face {
    font-family: 'ClashDisplay';
    src: url('~@/assets/styles/fonts/NexaLight.otf') format('opentype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay Normal';
    src: url('~@/assets/styles/fonts/NexaRegular.otf') format('opentype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay Medium';
    src:  
         url('~@/assets/styles/fonts/NexaBold.otf') format('opentype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay Semibold';
    src: url('~@/assets/styles/fonts/NexaHeavy.otf') format('opentype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay Bold';
    src: url('~@/assets/styles/fonts/NexaBlack.otf') format('opentype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

